#projects{
    margin-left: 125px;
    width: 960px;
}

.project-row {
    width: 900px;
    padding: 10px;
}

.project {
    padding: 20px;
    float: left;
}

h3 {
    font-size: 2em;
}

.clearfix {
    clear: both;
}

a h3 {
    color: #666;
    text-decoration: underline;
}